
QToolButton::right-arrow
{
  image: url(:/icons/assets/arrow-right_128x128.png);
}

QToolButton::left-arrow
{
  image: url(:/icons/assets/arrow-left_128x128.png);
}

QToolButton::menu-indicator
{
  image: none;
}